/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form{
display: flex;
width: 371px;
margin: 0 auto;
margin-top: 50px;     
}

.input-form{
border: 1px solid #808080;
border-radius: 4px;
width: 272px;
height: 40px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
padding-left: 16px;
margin-right: 8px;
}

.input-form:hover{
border: 1px solid #000;
}

.input-form:focus{
border-color: #4e75ff;
outline: none;
}

.button-form{
border-radius: 8px;
padding: 8px 16px;
width: 91px;
background-color: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
}

.button-form:hover{
background-color: #6c8cff;
}